* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
    --secondary-color: #2e80ce;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ============ Common ============ */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    min-width: 205px;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 20px;
    line-height: var(--height);
    border-radius: 999px;
    border: 1px solid var(--secondary-color);
    color: #fff;
    background: var(--secondary-color);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: var(--primary-color);
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
}

.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}
/* H============ Header ============ */
/* Logo */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--primary-color);
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--secondary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    text-align: right;
    margin-left: 0.6em;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    color: #fff;
    font-size: 1.8em;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* Navbar */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.header-action__login {
    margin-top: 7px;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login:hover,
.navbar__link--active,
.navbar__link:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* H============ Header ============ */
.hero {
    display: flex;
    align-items: center;
    margin-top: 76px;
}

.hero__content {
    flex-shrink: 0; /*không bị co nhỏ nội dung*/
    width: 44%;
}

.hero__media {
    flex-grow: 1; /*dòng này cho phần media chiếm hết phần còn lại*/
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.14rem;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    line-height: 3rem;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative; /*phần tử nào được relative thì sẽ cao hơn khỏi các phần tử khác*/
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* H============ Services ============ */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

/* Service Item */

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: var(--secondary-color);
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: var(--primary-color);
    background: #eff6fd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.service__list {
    margin-bottom: 55px;
}

/* ============ Work ============ */
.work {
    padding: 100px 0;
    background-color: #f6fbff;
}

.work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    padding: 16px;
    background: #eaf6ff;
    border-radius: 0.4rem;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    background: var(--secondary-color);
}

.work-item__border {
    padding: 43px 42px;
    background: #fff;
    border-radius: 4px;
}

.work-item__heading {
    margin-top: 20px;
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

/* ============ Features ============ */
.feature {
    margin-top: 85px;
    padding: 85px;
}

.feature__inner {
    display: flex;
    align-items: center;
    gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding-bottom: 121px;
    padding-right: 58px;
}

.feature__img {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* ============ Member ============ */
.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thumb {
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member-item__name {
    margin-top: 12px;
    color: #10375c;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 500;
}

.member-item__title {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem;
}

.member__control {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 18px;
}

.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 3.6rem;
    border: 1px solid #575f66;
    color: #575f66;
    background: #fff;
    transition: 0.25s;
}

.member__control-btn:hover {
    color: #fff;
    border-color: var(--secondary-color);
    background: var(--secondary-color);
    cursor: pointer;
}

.member__control-next-icon {
    rotate: 180deg;
}
